<div class="row">
  <div class="four columns offset-by-four">
    <h3>Sign Up for Polker!</h3>
    <%= form_with model: @user do |f| %>
      <%= render partial: "shared/user_form", locals: { f: f }%>
    <% end %>
  </div>
</div>
