<nav>
  <div class="brand">
    Polka<span>League</span>.app
  </div>
  <% if current_user %>
    <div class="navbar__user-buttons">
      <% unless current_page?(dashboard_path) %>
        <%= link_to "Dashboard", dashboard_path, class: "button nav-button" %>
      <% end%>
      <%= button_to "Sign Out", sign_out_path, method: :delete, class: "button", form_class: "nav-button" %>
    </div>
  <% else %>
    <div>
      <%= link_to "Sign In", sign_in_path, class: "button button-primary" %>&nbsp;
      <%= link_to "Sign Up", sign_up_path, class: "button" %>
    </div>
  <% end %>
</nav>
