nav {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

div.brand {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  & > span {
    color: red;
  }
}

.navbar__user-buttons {
  display: flex;
  flex-direction: row;
}

.nav-button {
  margin-right: 10px;
}
