p.season-game-show__info,
h4.season-game-show__overview,
form.season-game-show__admin-button,
input.season-game-show__add-on {
  margin: 0;
}

hr.season-game-show__hr {
  margin: 10px;
}

a.season-game-show__add-new-player {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
}
